.column-container
{
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 80vh;
}

nav
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin: 0 0 50px 0;
}

.nav-item
{
    margin: 0 0 50px 0;
}
.heading
{
    margin: 0 auto;
    font-size: 35px;
}

.swipe-div
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


#left, #right
{
    margin: 0;
}