@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    display: flex;
    justify-content: center; /* Centers the container horizontally */
    align-items: center;     /* Centers the container vertically */
    height: 100vh;           /* Ensures the body takes up the full height of the viewport */
}

#big-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#left, #right {
    margin: 0 30px;
}