@tailwind base;
@tailwind components;
@tailwind utilities;

.topBarContainer /*formats the navbar for index */
{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
}
.topBar li /*formats the navbar for index*/
{
    display:inline;
    padding:  20px 0 20px;
}
h1
{
    font-family: "Futura", sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 30px 0;
}
h2
{
    font-family: "Futura", sans-serif;
}
label
{
    font-family: "Futura", sans-serif;
}
.navBar li
{
    display:inline;
    padding: 0 10px;
}
svg
{
    width: 50px;
    height: 50px;
}

.navBarContainer
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
}

a
{
    font-family: "Futura", sans-serif;
    color: #04AA6D;
    text-decoration: underline;
}

.logo
{
    width: 50px;
    height: 50px;
}

.navBar
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto 30px;
}

.indexDiv
{
    margin: 30px 15px;
}

/* sign-up styles below */

input[type=text], input[type=password]
{
    width: 350px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    
    /*width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;*/
}

input[type=text]:focus, input[type=password]:focus
{
    background-color: #ddd;
    outline: none;
}

hr
{
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 8px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    border-radius: 8px;
    font-family: "Futura", sans-serif;
}

.signupbtn
{
    float: left;
    width: 50%;
}
.indexContainer
{
    text-align: center;
}
.container {
    padding: 16px;
}

@layer base {
  :root {
        --radius:0.5rem;
    }
}

